/* Style for search results title */
h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style for login button */
.login-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Default background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for color change */
}

/* Change background color on hover */
.login-button:hover {
    background-color: #0056b3; /* New background color on hover */
}

/* Style for search results container */
#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for each car tile */
.car-tile {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Hover effect for car tile */
.car-tile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

/* Style for car image */
.car-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style for car info */
.car-info p {
    margin: 5px 0;
    font-size: 14px;
}
