<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars R' Us - Car Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% if 'user' in session %}
        <div class="user-info">Welcome, <b>{{ session['user']['FirstName'] }}</b>!</div>
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="login-button">Login / Create Account</a>
    {% endif %}
    {% if 'user' in session %}
    <a href="{{ url_for('favorites') }}" class="favorites-button">
        <i class="fas fa-shopping-favorites"></i> Favorites
    </a>
    {% endif %}
    <header class="site-header">
        <h1>Cars R' Us</h1>
        <span class="subtitle"><i>"From Hot Wheels to Real Deals!"</i></span>
    </header>
    <div class="search-container">
        <form action="{{ url_for('search_results') }}" method="GET">
            <div class="form-row">
                    <select class="filter-dropdown" name="filter">
                    <option value="">No Filter</option>
                    <option value="year">Year</option>
                    <option value="make">Make</option>
                    <option value="model">Model</option>
                    <option value="price">Price</option>
                    <option value="mileage">Mileage</option>
                    <option value="type">Type</option>
                </select>
                <input type="text" class="search-input" name="query" placeholder="Search for cars...">
                <button type="submit" class="search-button">Search</button>
            </div>
        </form>
        <p class="help-text"><i>- For the <b>Price</b> filter, enter your top-end budget</i></p>
        <p class="help-text"><i>- For the <b>Year</b> filter, enter a range of years separated by a comma (e.g., 2018,2020)</i></p>
        <p class="help-text"><i>- For the <b>Type</b> filter, enter: 'Sedan', 'SUV', 'Electric', 'Coupe', 'Convertible', or 'Truck'</i></p>
    </div>
</body>
</html>
